@model StudentClassVM

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Student.FirstMidName" class="control-label"></label>
                <input asp-for="Student.FirstMidName" class="form-control" />
                <span asp-validation-for="Student.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.BirthDate" class="control-label"></label>
                <input asp-for="Student.BirthDate" class="form-control" />
                <span asp-validation-for="Student.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Pesel" class="control-label"></label>
                <input asp-for="Student.Pesel" class="form-control" />
                <span asp-validation-for="Student.Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.GudrdianPhoneNumber" class="control-label"></label>
                <input asp-for="Student.GudrdianPhoneNumber" class="form-control" />
                <span asp-validation-for="Student.GudrdianPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(x => x.Student.ClassID,
                    new SelectList(Model.Classes, "ClassID", "FullName"), "Wybierz", new { @class = "form-control"}
                    )
            </div>
            <div class=" form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
